site_name: Flowerhub Portal API Client
theme:
  name: material
plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_root_heading: true
            show_source: false
            heading_level: 2
nav:
  - Overview: index.md
  - Usage: usage.md
  - API Reference:
      - Async Client: api/async_client.md
      - Types: api/types.md
